<ion-header>
  <ion-toolbar>
    <ion-title>Premium</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <h4>sfsdf</h4>
    </ion-card-header>
    <ion-card-content>
      <p>sdfsdfsdf</p>
    </ion-card-content>
  </ion-card>
</ion-content>
