.slider_div {
  margin-top: 0px;

  .card {
    width: 100%;

    margin-bottom: 10px;

    .back_image {
      height: 220px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 15px;
      position: relative;

      .overlay_div {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 70%;
        right: 0;
        padding: 10px;

        ion-label {
          color: white;
          text-align: right;
          font-size: 14px;
          font-family: muli-bold;
        }
      }
    }
  }
}
.cateLbl {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .all {
    font-weight: bold;
    font-family: muli-bold;
  }
  .view {
    font-family: muli-bold;
    color: var(--ion-color-primary);
    font-size: 13px;
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 16px;
    }
  }
}

.sliders {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 16px 0px;

  .categoryIcon {
    padding: 0px 5px;
    text-align: center;

    .imgs {
      border-radius: 50%;
      padding: 5px;
      line-height: 60px;
      height: 60px;
      background-color: var(--ion-color-step-100);
      width: 60px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
      position: relative;
    }
    .icon {
      // height: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 35px;
    }

    .name {
      font-size: 10px;
      font-weight: bold;
      color: gray;
      margin: 10px 0px;
    }
  }
}

.horizontalList {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 16px 0px;

  .categoryIcon {
    padding: 0px 5px;
    text-align: center;

    .imgs {
      padding: 5px;
      line-height: 150px;
      height: 150px;
      background-color: var(--ion-color-step-100);
      width: 100px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      position: relative;
    }
    .icon {
      // height: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 35px;
    }

    .name {
      font-size: 10px;
      font-weight: bold;
      color: gray;
      margin: 10px 0px;
    }
  }
}
