<ion-header>
  <ion-toolbar>
    <ion-title>Unicom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Top Banners -->
  <div class="slider_div" *ngIf="banners?.length">
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let item of banners">
        <div class="card">
          <div
            class="back_image"
            [ngStyle]="{'background-image':'url('+item.cover+')'}"
          >
            <div class="overlay_div" *ngIf="item.message">
              <ion-label> {{item.message}} </ion-label>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <!-- End Top Banners -->
  <div class="cateLbl">
    <ion-label class="all">Category </ion-label>
    <ion-label class="view"
      >View All
      <div class="ion-activatable">
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </div>
      <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-label>
  </div>

  <div class="sliders">
    <div class="categoryIcon" *ngFor="let item of catIcons">
      <div class="imgs">
        <img [src]="item.icon" class="icon" />
      </div>
      <ion-label class="name">Action</ion-label>
    </div>
  </div>
  <div class="cateLbl">
    <ion-label class="all">Top Reading Book </ion-label>
    <ion-label class="view"
      >View All
      <div class="ion-activatable">
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </div>
      <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-label>
  </div>

  <!-- NEW -->
  <div class="horizontalList">
    <div class="categoryIcon" *ngFor="let item of catIcons">
      <div
        class="imgs"
        [ngStyle]="{'background-image':'url(/assets/book.jpeg)'}"
      ></div>
      <ion-label class="name">Surgicle Strike</ion-label>
    </div>
  </div>
  <!-- NEW -->

  <div class="cateLbl">
    <ion-label class="all">New Arrival Book </ion-label>
    <ion-label class="view"
      >View All
      <div class="ion-activatable">
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </div>
      <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-label>
  </div>

  <!-- NEW -->
  <div class="horizontalList">
    <div class="categoryIcon" *ngFor="let item of catIcons">
      <div
        class="imgs"
        [ngStyle]="{'background-image':'url(/assets/book.jpeg)'}"
      ></div>
      <ion-label class="name">Surgicle Strike</ion-label>
    </div>
  </div>
  <!-- NEW -->

  <div class="cateLbl">
    <ion-label class="all">Characters </ion-label>
    <ion-label class="view"
      >View All
      <div class="ion-activatable">
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </div>
      <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-label>
  </div>

  <div class="sliders">
    <div class="categoryIcon" *ngFor="let item of catIcons">
      <div class="imgs">
        <img [src]="item.icon" class="icon" />
      </div>
      <ion-label class="name">Action</ion-label>
    </div>
  </div>
  <div class="cateLbl">
    <ion-label class="all">Top Reading Book </ion-label>
    <ion-label class="view"
      >View All
      <div class="ion-activatable">
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </div>
      <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-label>
  </div>
  <!-- NEW -->
  <div class="horizontalList">
    <div class="categoryIcon" *ngFor="let item of catIcons">
      <div
        class="imgs"
        [ngStyle]="{'background-image':'url(/assets/book.jpeg)'}"
      ></div>
      <ion-label class="name">Surgicle Strike</ion-label>
    </div>
  </div>
  <!-- NEW -->

  <div class="cateLbl">
    <ion-label class="all">Free Books </ion-label>
    <ion-label class="view"
      >View All
      <div class="ion-activatable">
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </div>
      <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-label>
  </div>

  <!-- NEW -->
  <div class="horizontalList">
    <div class="categoryIcon" *ngFor="let item of catIcons">
      <div
        class="imgs"
        [ngStyle]="{'background-image':'url(/assets/book.jpeg)'}"
      ></div>
      <ion-label class="name">Surgicle Strike</ion-label>
    </div>
  </div>
  <!-- NEW -->
</ion-content>
