<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="settings">
    <ion-card>
      <ion-card-content class="ion-no-padding">
        <ion-item lines="full">
          <ion-label><h4>Card Link Item 2</h4></ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label><h4>Card Link Item 2</h4></ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label><h4>Card Link Item 2</h4></ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label><h4>Card Link Item 2</h4></ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
